.navbar {
color: gray;
}

.img {
  width: 200px;
}

ul {
  margin-right: 20px;
}



hr{
  border: 1px solid black;
}
section {
  background-color: rgba(255, 255, 255, 0);
  /* margin: 50px auto; */
  width: relative;
  height: 100vh;
}


.page-contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 2em;

}


.data-card {
  display: grid;
  flex-direction: column;
  /* margin: 10px auto; */
  max-width: 20.75em;
  /* min-height: 20.75em; */
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.744);
  margin: 20px;
  padding: 0.8em;
  box-shadow: 0 1.5em 2em 1em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}

.data-card h3 {
  color: #2e3c40;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #314964;
  transition: color 0.45s ease, border 0.45s ease;
}

.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}

.data-card p {
  color: #314964;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 2em;
  transform: translateY(1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}


.data-card .link-text {
  display: block;
  color: #314964;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
}

.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}

.data-card .link-text svg path {
  transition: fill 0.45s ease;
}


.data-card:hover {
  background: hsla(0, 0%, 96%, 1);
  background: linear-gradient(270deg, hsla(0, 0%, 96%, 1) 43%, hsla(47, 63%, 52%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(0, 0%, 96%, 1) 43%, hsla(47, 63%, 52%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(0, 0%, 96%, 1) 43%, hsla(47, 63%, 52%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6F6F6", endColorstr="#D2B137", GradientType=1);
  transform: scale(1.02);
}

.data-card:hover h3 {
  color: #000000;
  border-bottom-color: white;
}

.data-card:hover h4 {
  color: #000000;
}

.data-card:hover p {
  color: rgb(0, 0, 0);
  transform: none;
}

.data-card:hover .link-text {
  color: #000000;
}

.data-card:hover .link-text svg {
  -webkit-animation: point 1s infinite alternate;
  animation: point 1s infinite alternate;
}

.data-card:hover .link-text svg path {
  fill: #000000;
}
#main{
  background: hsla(0, 0%, 96%, 1);
  background: linear-gradient(270deg, hsla(0, 0%, 96%, 1) 43%, hsla(47, 63%, 52%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(0, 0%, 96%, 1) 43%, hsla(47, 63%, 52%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(0, 0%, 96%, 1) 43%, hsla(47, 63%, 52%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F6F6F6", endColorstr="#D2B137", GradientType=1);
}

@-webkit-keyframes point {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(0.125em);
  }
}

