<body>
  <header class="header">
    <div class="logo">
      <img class="img" src="../assets/img/logocc.png" alt="">
    </div>
  </header>

  <div class="container">
    <nav>
      <div class="side_navbar">
        <span>Dashboard</span>
        <a routerLink="/staffhome" class="active">Dashboard</a>
        <a routerLink="/customersdata">Customer</a>
        <span>Requests</span>

        <a routerLink="/birthdata">Birth Cert</a>
        <a routerLink="/marriagedata">Marriage Cert</a>
        <a href="#">Cenomar</a>
        <a href="#">Death</a>
        <span>Partners</span>
        <a routerLink="/partners">Partners</a>
        <a routerLink="/partnersrequest">Requests</a>


        <div class="links">
          <span>Account</span>
          <a (click)="logout($event)" *ngIf="loggedIn">Logout</a>
        </div>
      </div>
    </nav>



    <div class="mt-5">
      <h5 class="fw-bold text-center">Cebu City Easy Passage</h5>
      <div class="col-lg-6 mx-auto">
      </div>
      <br />
      <br />
      <br />
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5">
          <div class="col mb-5" *ngFor="let item of items">
            <div class="card shadow-sm">
              <img [src]="item.image" width="100%" height="250px" alt="" />
              <div class="card-body">
                <h5 class="fw-bold text-center">
                  {{ item.title }}
                </h5>
                <div class="d-flex justify-content-between align-items-center">
                  <p class="text-justify mb-7">
                    {{item.description}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
