<body>
  <header class="header">
    <div class="logo">
      <img class="img" src="../assets/img/logocc.png" alt="">
    </div>
  </header>

  <div class="container">
    <nav>
      <div class="side_navbar">
        <span>Dashboard</span>
        <a routerLink="/staffhome">Dashboard</a>
        <a href="#">Customer</a>
        <span>Requests</span>

        <a routerLink="/birthrecord" class="active">Birth Cert</a>
        <a href="#">Marriage Cert</a>
        <a href="#">Cenomar</a>
        <a href="#">Death</a>

        <div class="links">
          <span>Account</span>
          <a href="#">Profile</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </nav>

    <div class="main-body">
      <div class="wrapper">
        <h1>Certificate of Live Birth Requests</h1>
      </div>

      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Sex</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Birthdate</th>
              <th>Place of Birth</th>
              <th>ID Presented</th>
              <th>Father's First Name</th>
              <th>Father's Middle Name</th>
              <th>Father's Last Name</th>
              <th>Mother's First Name</th>
              <th>Mother's Middle Name</th>
              <th>Mother's Last Name</th>
              <th>Late Registration?</th>
              <th>Purpose</th>
              <th>Phone</th>
              <th>Status</th>
              <th>Update Status</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr style=" border: 1px solid black" *ngFor="let birthRecord of birthRecord">
              <td>{{birthRecord.id}}</td>
              <td>{{birthRecord.sex}}</td>
              <td>{{birthRecord.fname}}</td>
              <td>{{birthRecord.mname}}</td>
              <td>{{birthRecord.lname}}</td>
              <td>{{birthRecord.birthdate}}</td>
              <td>{{birthRecord.birthplace}}</td>
              <td>{{birthRecord.idtype}}</td>
              <td>{{birthRecord.ffname}}</td>
              <td>{{birthRecord.fmname}}</td>
              <td>{{birthRecord.flname}}</td>
              <td>{{birthRecord.mfname}}</td>
              <td>{{birthRecord.mmname}}</td>
              <td>{{birthRecord.mlname}}</td>
              <td>{{birthRecord.latereg}}</td>
              <td>{{birthRecord.purpose}}</td>
              <td>{{birthRecord.phone}}</td>
              <td style="font-weight: 600;">{{birthRecord.status}}</td>
              <td> <button href="">Update</button> <br>
                <button>Preview</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <nav>
      <div class="side_navbar">
        <span>Dashboard</span>
        <a routerLink="/staffhome">Dashboard</a>
        <a href="#">Customer</a>
        <span>Requests</span>

        <a routerLink="/birthrecord" class="active">Birth Cert</a>
        <a href="#">Marriage Cert</a>
        <a href="#">Cenomar</a>
        <a href="#">Death</a>

        <div class="links">
          <span>Account</span>
          <a href="#">Profile</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </nav> -->

  <!-- <div class="main-body">
        <div class="wrapper">
          <h1>Certificate of Live Birth Requests</h1>
        </div>

        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Sex</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Birthdate</th>
                <th>Place of Birth</th>
                <th>ID Presented</th>
                <th>Father's First Name</th>
                <th>Father's Middle Name</th>
                <th>Father's Last Name</th>
                <th>Mother's First Name</th>
                <th>Mother's Middle Name</th>
                <th>Mother's Last Name</th>
                <th>Late Registration?</th>
                <th>Purpose</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Update Status</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr style=" border: 1px solid black" *ngFor="let birthRecord of birthRecord">
                <td>{{birthRecord.sex}}</td>
                <td>{{birthRecord.fname}}</td>
                <td>{{birthRecord.mname}}</td>
                <td>{{birthRecord.lname}}</td>
                <td>{{birthRecord.birthdate}}</td>
                <td>{{birthRecord.birthplace}}</td>
                <td>{{birthRecord.idtype}}</td>
                <td>{{birthRecord.ffname}}</td>
                <td>{{birthRecord.fmname}}</td>
                <td>{{birthRecord.flname}}</td>
                <td>{{birthRecord.mfname}}</td>
                <td>{{birthRecord.mmname}}</td>
                <td>{{birthRecord.mlname}}</td>
                <td>{{birthRecord.latereg}}</td>
                <td>{{birthRecord.purpose}}</td>
                <td>{{birthRecord.phone}}</td>
                <td style="font-weight: 600;">{{birthRecord.status}}</td>
                <td> <a href="">Update</a>
              </tr>
            </tbody>
          </table>
        </div>
    </div> -->
  <!-- </div> -->
</body>
